@import 'bulma/css/bulma.css';

/* colors
 * #F7F6F1 — white
 * #E8E0D5 — off-white
 * #9E9583 — grey
 * #33322F — black
 * #D12F2D — red
 **/

html,
body {
  background: #E8E0D5;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  margin-top: -150px;
}

.saito-wrapper {
  display: inline-block;
  position: relative;
  margin-top: -5px;
}

.saito-wrapper img {
  position: absolute;
  top: -4px;
  left: -17px;
  width: 35px;
}

.saito-table {
  margin-left: 15px;
}

.saito-table td {
  padding: 5px 5px 5px 5px !important;
  border: none !important;
}

.saito-table tr {
  border: 0px;
}

.saito-table tr:first-child td {
  font-weight: bold;
  color: #D12F2D;
}

.saito-table td:first-child {
  text-align: right;
}

.saito-table td:nth-child(2) {
  text-align: left;
  padding-left: 2px !important;
}

.saito-table .protocol {
  opacity: 0.8;
  font-size: 15px;
  color: #33322F;
  font-weight: 500;
}

.saito-table .hodler-updated {
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
  opacity: 0.6;
}

.hodler-label {
  white-space: nowrap;
}

footer ul {
  position: absolute;
  bottom: 2px;
  right: 4px;
}

footer ul li {
  float: right;
  padding-left: 8px;
  font-size: 12px;
}

footer ul li a {
  opacity: 0.5;
  transition: all 1s;
}

footer ul li a:hover {
  opacity: 0.8;
}

@media (min-width:370px)  {
  .saito {
    font-size: 21px;
  }

  .saito-wrapper {
    margin-top: 5px;
  }

  .saito-wrapper img {
    top: -9px;
    left: -36px;
    width: 49px;
  }

  .saito-table .protocol {
    font-size: 18px;
  }

}

